.empty-user-bar-ctn {
    width: 100%;
    margin: auto;
    background-color: #F8F4EA
}

.all-products-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: black solid 1px; */
}

.all-products-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
